langchain
langchain-community
langchain-openai
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
pypdf
langchain-text-splitters
langgraph-prebuilt
sentence-transformers
torch
langchain-huggingface
pdfplumber
pymupdf
easyocr
pillow
ragas
datasets
tiktoken